#line-chart {
    height:300px;
    width:800px;
    margin: 0px auto;
    margin-top: 1em;
}
.brand { font-family: georgia, serif; }
.brand .first {
    color: #ccc;
    font-style: italic;
}
.brand .second {
    color: #fff;
    font-weight: bold;
}
.form-article  input[type="text"]{
    width: 98.6%;
}
form input[type="button"]{
    margin: 5px 10px 0 10px;
}

.pageSort li{
    list-style-type:none;
    display: inline-block;
}
.pageSort li a{
    display: inline-block;
}
input[type="file"]{
    margin:10px 10px;
}
.block-body div{
    margin:10px 79.6% 10px 10px;
    text-align: center;
} 
.article{
  list-style-type: none;
}
.article .articleTitle{
  margin: 20px auto;
  font-size: 16pt;
  color: blue;
  text-align: center;
}
.article .articleContent{
  color: #999;
}
.articleTime{
  float: right;
  color: #999;
  margin-right: 20px;
}
.formMusic input[type="text"]{
  width: 400px;
  height: 30px;
  margin: 5px 9px;
  text-align: center;  
}
.form-test .TestTitle{
  width: 648px;
  height: 30px;
  text-align: center;
}
.form-test .question{
  width: 646px;
  height: 30px;
  text-align: center;
}
