*{
	margin: 0;
	padding: 0;
}
.bgImage{
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    z-index: -999999;
    height: 100%;
    width: 100%;
    display: block;
    /* background-image: url("../images/baby.jpg"); */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 120px;
    height: 80px;
    background: url("../images/logo.png") no-repeat;
    position: fixed;
    top: 30px;
    left: 30px;
}
.content{
	width: 500px;
    height: 240px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    background-color: #666;
    background-color: rgba(0,0,0,.2);
    border: rgba(255,255,255,.3) 1px solid;
    box-shadow: 0 1px 4px rgbargba(0,0,0,.1);
    padding: 30px;
}
.c_title{
	font-size: 24px;
	line-height: 30px;
	color: #fff; 
    font-family: '微软雅黑';
	font-weight: 400;
}
.singer{
	display: inline-block;
    margin: 12px 0;
    margin-right: 20px;
    opacity: 0.8;
    color: #fff; 
    font-family: '微软雅黑';
}
.jie{
	color: #fff;
	font-family: '微软雅黑';
}
.content .playWrap{
	position: relative;
}
.content .playWrap a{
	display: inline-block;
    background: url("../images/playbtn.png") no-repeat;
    margin: 20px 20px 0 0;
    color: #fff;
}
.content .playWrap .pre{
	width: 34px;
    height: 34px;
    background-position: -90px -6px;
}
.content .playWrap .pause{
	width: 45px;
    height: 45px;
    background-position: -45px 0;
}
.content .playWrap .play{
	width: 45px;
    height: 45px;
    background-position: 0 0;
}
.content .playWrap .next{
	width: 34px;
    height: 34px;
    background-position: -124px -6px;
}
.content .playWrap .process{
	display: inline-block;
    background-color: rgba(255,255,255,.255);
    width: 300px;
    height: 2px;
    position: relative;
    left: 5px;
    top: -16px;
    cursor: pointer;
}
.content .playWrap .process .pr_played{
	width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    cursor: pointer;
}
.content .playWrap .process .pr_btn{
    display: block;
    position: absolute;
    top: -5px;
    left: 0;
    background: 0 0;
    background-color: #fff;
    width: 12px;
    height: 12px;
    margin: 0;
    box-shadow: 0 0 5px #fff;
    border-radius: 10px;
}
.content .playWrap .time{
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
}
.content .btns a{
	display: inline-block;
    padding-left: 25px;
    background: url("../images/btns.png") no-repeat;
    margin-left: 10px;
    margin-top: 16px;
    color: #fff;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    font-family: "微软雅黑";
}
.content .btns .collect{
	background-position: 0 -20px;
}
.content .btns .collect:hover{
	background-position: 0 -80px;
}
.content .btns .share{
	background-position: 0 -40px;
}
.content .btns .download{
	background-position: 0 -60px;
}
.content .btns{
	position: absolute;
    right: 40px;
    cursor: pointer;
    border: 0;
}