body {
	background: #fff;
	font-family: arial;
	color: #4e4e4e;
	line-height: 22px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: #4e4e4e;
}
h1 {
	font-size: 46px;
	font-weight: 700;
	color: #444;
	letter-spacing: -2px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 14px;
	color: #777;
	font-weight: 400;
	line-height: 26px;
}
h4 {
	font-size: 16px;
}
a {
	display: block;
	color: #c52d2f;
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition: color 300ms, background-color 300ms;
	transition: color 300ms, background-color 300ms;
}
a:hover, a:focus {
	color: #d43133;
}
a,p::section{
	background: #39f;
    color: #fff;
    text-shadow: none; 
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
hr {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #fff;
}
.img-a>img:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.inp-wrap{
	position: relative;
	margin-top: 5px;
}
.inp-text{
	padding-right: 26px;
}
.ser-logo{
	position: absolute;
	top: 8px;
	right: 2px;
	width: 24px;
	height: 22px;
	background: url("../images/home/search.png") no-repeat;
	background-size: 19px 17px;
	cursor:pointer;
}
.btn-primary {
	padding: 8px 20px;
	background: #3498db;
	color: #fff;
	border-radius: 4px;
	border: none;
	margin-top: 10px;
}
.btn-primary:hover, .btn-primary:focus {
	background: #2d78ae;
	outline: none;
	box-shadow: none;
}
a:hover, a:focus {
	color: #111;
	text-decoration: none;
	outline: none;
}
.center h2 {
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 20px;
}
.center h3 {
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 20px;
}
.media>.pull-left {
	margin-right: 20px;
}
.media>.pull-right {
	margin-left: 20px;
}
body > section {
	padding: 70px 0;
}
.center {
	text-align: center;
	padding-bottom: 55px;
}
.lead {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}
 @-webkit-keyframes scaleIn {
 0% {
 opacity: 0;
 -webkit-transform: scale(0);
 transform: scale(0);
}
 100% {
 opacity: 1;
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
 @keyframes scaleIn {
 0% {
 opacity: 0;
 -webkit-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
}
 100% {
 opacity: 1;
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}
/*************************
*******Header******
**************************/

.navbar>.container .navbar-brand {
	margin-left: 0;
}
.navbar-brand {
	padding: 0;
	margin: 0;
}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
	background: #151515;
	padding: 15px 0;
	padding-bottom: 0;
}
.navbar-nav {
	margin-top: 12px;
}
.navbar-nav>li {
	margin-left: 35px;
	padding-bottom: 28px;
}
.navbar-inverse .navbar-nav > li > a {
	padding: 5px 12px;
	margin: 0;
	border-radius: 3px;
	color: #fff;
	line-height: 24px;
	display: inline-block;
}
.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #3498db;
	color: #fff;
}
.navbar-inverse {
	border: none;
}
.navbar-inverse .navbar-brand {
	font-size: 30px;
	line-height: 50px;
	font-weight: 600;
	color: #fff;
}
.navbar-inverse .navbar-brand .fa {
	color: #3498db;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #333;
	color: #fff;
}

/* form */

@media screen and (min-width: 1400px){
	.modal-dialog{
		width: 600px;
		margin: 300px auto;
	}
}
@media screen and (min-width: 768px) and (max-width:1400px){
	.modal-dialog{
		width: 420px;
		margin: 150px auto;
	}
}
@media screen and (max-width: 766px){
	.modal-dialog{
		position: relative;
	    z-index: 1050;
	    width: auto;
	    margin-top: 150px;
	}
}
form h4{
	position: relative;
}
.user-icon{
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url("../images/user.png") left center no-repeat;
}
.user-text{
	line-height: 30px;
	margin-left: 40px;
}
.modal-footer{
	margin-top: 0;
	padding: 10px 10px 12px;
}
.form-group{
	margin-bottom: 20px;
}
#hintuser,#hintpass,#ide-user,
#ide-pass,#ide-cpass,#ide-phone,
#ide-email{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 20px;
	font-size: 14px;
	font-family: arial;
	color: #ff0000;
}
/* form */

/*************************
*******Home Page******
**************************/
#main-slider {
	position: relative;
	text-align: center;
}
#main-slider .carousel .item {
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	left: 0 !important;
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	display: block !important;
	height: 640px;
	-webkit-transition: opacity ease-in-out 500ms;
	-moz-transition: opacity ease-in-out 500ms;
	-o-transition: opacity ease-in-out 500ms;
	transition: opacity ease-in-out 500ms;
}
#main-slider .carousel .item:first-child {
	top: auto;
	position: relative;
}
#main-slider .carousel .item.active {
	opacity: 1;
	-webkit-transition: opacity ease-in-out 500ms;
	-moz-transition: opacity ease-in-out 500ms;
	-o-transition: opacity ease-in-out 500ms;
	transition: opacity ease-in-out 500ms;
	z-index: 1;
}
#main-slider .prev, #main-slider .next {
	position: absolute;
	top: 50%;
	background-color: #fff;
	color: #ccc;
	display: inline-block;
	margin-top: -25px;
	height: 40px;
	line-height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
	z-index: 5;
	opacity: 0.8;
}
#main-slider .prev:hover, #main-slider .next:hover {
	background-color: #3498db;
}
#main-slider .prev {
	left: 10px;
}
#main-slider .next {
	right: 10px;
}
#main-slider .carousel-indicators li {
	width: 14px;
	height: 14px;
	margin: 0 15px 0 0;
	position: relative;
}
#main-slider .carousel-indicators li:after {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	border-radius: 100%;
	border: 1px solid #c3dff4;
	left: -3px;
	top: -3px;
}
#main-slider .carousel-indicators .active {
	width: 14px;
	height: 14px;
	background-color: #fff;
	margin: 0 15px 0 0;
	border: 1px solid #3498db;
	position: relative;
}
#main-slider .carousel-indicators .active:after {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background: #fff;
	border: 1px solid #3498db;
	left: -3px;
	top: -3px;
}

.more-btn{
	text-align: center;
}
.more-btn a{
	font-size: 16px;
	color: #8a2be2;
}
.more-btn a:hover{
	color: #eead0e;
}

#feature {
	background: #f2f2f2;
	padding-bottom: 40px;
}
#inner-page {
	background: #f8f8f8 url("../images/innerpage_bg.png") repeat-x;
	padding-bottom: 0;
}
.color-border {
	background: url("../images/color_border.jpg") repeat-x scroll center top;
	width: 100%;
	float: left;
	display: block;
	height: 5px;
}
.features {
	padding: 0;
}
.feature-wrap {
	margin-bottom: 35px;
	overflow: hidden;
	text-align: center;
}
.feature-wrap h2 {
	margin-top: 10px;
}


#recent-works .col-xs-12.col-sm-4.col-md-4 {
	padding: 0;
}
#recent-works {
	padding-bottom: 50px;
}
.recent-work-wrap {
	position: relative;
}
.recent-work-wrap img {
	width: 100%;
}
.recent-work-wrap .recent-work-inner {
	top: 0;
	background: transparent;
	opacity: 1;
	width: 100%;
	border-radius: 0;
	margin-bottom: 0;
	text-align: center;
}
.recent-work-wrap .recent-work-inner h3 {
	margin: 10px 0;
	font-size: 24px;
	color: #fff;
}
.recent-work-wrap .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 0;
	background: #3498db;
	color: #fff;
	vertical-align: middle;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	padding: 30px;
}
.recent-work-wrap:hover .overlay {
	opacity: 0.8;
}
.symbol{
	display: block;
	width: 60px;
	height: 60px;
	margin: 20px auto;
	background: url("../images/home/musicpic/music.png") no-repeat;
}
.music-row{
	padding-top: 50px;
}

#test{
	background: #f2f2f2;
	padding-bottom: 40px;
}
.test{
	padding: 0;
}
.test-wrap{
	margin-bottom: 35px;
	overflow: hidden;
	text-align: center;
}
.test-a{
	
	color: #333;
	margin: 20px 0;
}
.test-a:hover{
	text-decoration: underline;
	color: #ee00ee;
}

#partner {
	background: url("../images/home/heartbg.jpg") 50% 50% no-repeat;
	background-size: cover;
}
#partner {
	text-align: center;
}
.partner{
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	background-color: #ffb90f;
}
.partner a{
	text-align: center;
	font-size: 20px;
	color: #000;
	padding-right: 20px;
	background: url("../images/home/enter.png") 110px 5px no-repeat;
}
/*************************
********* artical Page CSS ******
**************************/

.artical {
	padding-bottom: 50px;
}
.artical h3 {
	color: #4e4e4e;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
}
.artline{	
	padding: 20px 0;
	border-bottom: #fff solid 1px;
}
.cler{
	padding: 3% 0 6% 0;
}
.artline p{
	color: #444;
	font-size: 16px;
	padding: 6% 0;
	text-align: center;
}
.artline p a{
	text-decoration: none;
	color: #333;
}
.r-icon{
	width: 50px;
	color: #888;
	padding-left: 22px;
	float: right;
}
.eye{
	margin-right: 8%;
	background: url("../images/art_page/eye.png") center left no-repeat;
}
.thumb{
	margin-right: 20%;
	background: url("../images/art_page/thumb.png") center left no-repeat;
}
.paging{
	padding-bottom: 30px;
}
.paging ul{
	margin: 0;
	padding: 0;
}
.paging ul li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}
.paging ul li a{
	display: block;
    background: #e5e5e5;
    padding: 8px 1.1em;
    font-size: 0.9em;
    color: #020202;
    font-weight: 400;
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    border: 1px solid #020202;
}
.paging ul li a:hover{
	background-color: #2ad2c9;
	color: #fff;
}
.pstyle:hover{
	text-decoration: underline;
	color: #3498db;
}
/*************************
*********test  CSS ******
**************************/

.test-wrap{
	padding-bottom: 50px;
}
.test-border{
	padding: 20px 0;
	border-bottom: 1px dashed #bbb;
}
.test-p1{
	text-align: left;
	padding: 10px 15px;
	font-size: 14px;
}
.test-p1 a{
	font-size: 16px;
    font-weight: 700;
    color: #111;
}
.test-p1 a:hover{
	text-decoration: underline;
}
.test-people{
	color: #999;
}
.people-icon{
	display: inline-block;
    margin-bottom: -3px;
    width: 20px;
    height: 18px;
    background: url("../images/test/people.png") no-repeat;
}


/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
/**************************
********* Voice Table CSS *
**************************/
.table{
	margin-bottom: 50px;
}
.table th{
	font-size: 22px;
	color: #020202;
}
.table tr td{
	height: 48px !important;
	line-height: 48px !important;
	font-size: 18px;
	color: #3a5fcd;	
}
.table tr td:first-child{
	color: #4a4a4a;
}
.table tr td a{
	height: 48px;
	background: url("../images/play.png") left center no-repeat;
}
/***********************
********* Footer ******
************************/
#footer {
	padding-top: 60px;
	padding-bottom: 40px;
	color: #aaa;
	background: #2e2e2e;
}
#footer a {
	color: #eee;
}
#footer a:hover {
	color: #3276b1;
}
#footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#footer ul > li {
	display: inline-block;
	margin-left: 15px;
}
.follow-us {
	margin-top: -5px;
	text-align: center;
}
.social-icon {
	padding-top: 6px;
	font-size: 16px;
	text-align: center;
	width: 32px;
	height: 32px;
	border: 2px solid #999;
	border-radius: 50%;
	color: #999;
	margin: 5px;
}
a.social-icon:hover, a.social-icon:active, a.social-icon:focus {
	text-decoration: none;
	color: #3276b1;
	border-color: #3276b1;
}
.footer-text{
	text-align:center;
	font-size: 16px;
	font-family: arial;
}

/*---------------------------------从此处新添加-----------------------------------------------*/
#header div.container, #divBtn ul{
	width:100%;
}
#divBtn ul li:first-child{
	position:absolute;
	color:red;
	height:100%;
	bottom:0px;
	font-family:微软雅黑;
	line-height:50px;
	text-align:center;
	z-index:1;
	visibility:hidden;
}
#divBtn ul li:first-child img{
	width:75px;
	height:75px;
	float:left;
	padding:1px;
	margin-top:4%;
	border:1px solid white;
}
#divBtn ul li:first-child img:hover{box-shadow:2px 2px 2px white;}
#divBtn ul li:first-child img:active{box-shadow:2px 2px 2px black;}
#divBtn ul li:first-child form{
	float:right;
	padding-left:10px;
	margin-top:40%;
}
#divBtn ul li:not(:first-child){
	height:35px;
	margin-right:10px;
	display:block-inline;
}
#LoginModal form div.modal-footer button{
	margin:0px auto;
	display:block;
	width:78%;
}
.form-horizontal div{margin:0px;}
.modal-header h4{width:80%;}
.userInfo{
	position:absolute;
	height:160px;
	width:320px;
	background:white;
	z-index:1;
	top:100%;
	right:10px;
	border-radius:5px;
	box-shadow:3px 3px 3px black;
	visibility:hidden;
}
.userInfo h4{border-bottom:1px solid lightgray;padding-bottom:5px;}
span#spanUserPic, span#spanUserPicChange{
	position:absolute;
	width:100px;
	height:100px;
	display:block;
	border:1px solid white;
	margin:10px 10px;
}
span#spanUserPicChange{position:relative;visibility:hidden;}
span#spanUserPicChange span{color:gray;;width:100%;height:100%;position:absolute;text-align:center;line-height:100px;}
span#spanUserPicChange input{position:absolute;height:100%;width:100%;bottom:0px;opacity:0;}
span#spanUserPic img, span#spanUserPicChange img{width:100%;height:100%;padding:1px;border:1px solid gray;}
.userInfo p{position:relative;width:65%;bottom:65%;left:36%;}
/*---------------------------------从此处添加结束-----------------------------------------------*/



